<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<small>Bid</small>
		{{smallProfileImage playerBid.player}}
		<h4><label class="label label-warning">Bid</label></h4>
	</div>
	<div class="col-md-2">
		<small>on</small>
		{{smallProfileImage player}}
		<h4><label class="label label-success">{{formatDate startDate "%d/%m"}}</label></h4>
	</div>
	<div class="col-md-8">
		{{#if myBid}}My: {{bid myBid}}{{/if}} Total: {{bid bank.total}}
		<h4><small>{{formatDate deadline "%d/%m"}}</small> {{goal}}</h4>
		{{socialShare}}
	</div>
	<div class="col-md-12">
		{{#each supporters}}{{microProfileImage this}}{{/each}}
		{{#each observers}}{{microProfileImage this}}{{/each}}
	</div>
	{{#unless my}}
		<div class="col-md-12">
			<div class="col-md-3">
				<span id="observe" class="fa fa-eye text-muted"> Observe</span>
			</div>
			<div class="col-md-3">
				<span id="support" class="fa fa-support text-muted"> Support</span>
			</div>
		</div>
	{{/unless}}
</div>

