<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<small>Reached</small>
		<div>
			{{smallProfileImage player}}
		</div>
		<label class="label label-success">WON!</label>
	</div>
	<div class="col-md-10">
		{{#if myBid}}My: {{bid myBid}}{{/if}} Total: {{bid bank.total}}<br/>
		<h4>{{goal}}</h4>
		<h5>{{status}}</h5>
		{{socialShare}}
	</div>
	<div class="col-md-12">
		{{#each supporters}}{{microProfileImage this}}{{/each}}
		{{#each observers}}{{microProfileImage this}}{{/each}}
	</div>
</div>

