{{#state}}
	<div class="list-group-item">
		<br/>
		<div class="row-picture">
			{{profileImageOfSize player 60}}
			{{#each context.playerContexts}}
				<span class="label label-success"><b>Ended</b> {{formatDate clock.deadline "%d/%m"}}</span>
			{{/each}}
		</div>
		<div class="row-content">
			<div class="col-md-3">
				<span class="fa fa-remove"> <b>Lost</b></span><br/>
				<b>My:</b> <span class="label label-danger">{{#if myBet}}-{{myBet.amount.amount}}{{else}}0{{/if}}</span><br/>
				<b>Bank:</b> <span class="label label-danger">-{{bank.total.amount.amount}}</span><br/>
				<b>Penalty:</b> <span class="label label-danger">{{bank.penalty.amount}}</span>
			</div>
			<div class="col-md-9 col-xs-12 col-sm-12">
				<h4 class="list-group-item-heading"><span class="fa fa-trophy"></span> {{goal}}</h4>
				<p class="list-group-item-text">
					{{status}}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{#if supporters}}
					{{template "supporters"}}
				{{/if}}
				<br/>
				<br/>
			</div>
		</div>
	</div>
{{/state}}