{{#state}}
	<div class="list-group-item">
		<br/>
		<div class="row-picture">
			{{profileImageOfSize player 40}}
			<span class="label label-success">{{bank.total.interest.amount}}</span>{{#if myBet}}<span class="label label-success">+ {{myBet.interest.amount}}</span>{{/if}}
		</div>
		<div class="row-content">
			<div class="col-md-2">
				<span class="fa fa-4x fa-trophy"></span>
			</div>
			<div class="col-md-10">
				<h4 class="list-group-item-heading"><b>Won</b> <span class="fa fa-trophy"></span> {{goal}}</h4>
				<p class="list-group-item-text">
					{{status}}
				</p>
				{{#if supporters}}
					{{template "supporters"}}
				{{/if}}
			</div>
		</div>
	</div>
{{/state}}





