<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<small>Bid</small>
		{{smallProfileImage playerBid.player}}
		<h4><label class="label label-warning">Bid</label></h4>
	</div>
	<div class="col-md-2">
		<small>on</small>
		{{smallProfileImage player}}
		<h4><label class="label label-success">{{formatDate startDate "%d/%m"}}</label></h4>
	</div>
	<div class="col-md-8">
		{{template "bets_allowed"}}
		<h4><small>{{formatDate deadline "%d/%m"}}</small> {{goal}}</h4>
		{{socialShare}}
	</div>
	{{template "supporters"}}
</div>

