<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<small>Reached</small>
		<div>
			{{smallProfileImage player}}
		</div>
		<label class="label label-success">WON!</label>
	</div>
	<div class="col-md-10">
		{{template "bets_allowed"}}
		<h4>{{goal}}</h4>
		<h5>{{status}}</h5>
		{{socialShare}}
	</div>
	{{template "supporters"}}
</div>

