<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<small>Started</small>
		<div>
			{{smallProfileImage player}}
		</div>
		<h4><label class="label label-warning">{{formatDate deadline "%d/%m"}}</label></h4>
	</div>
	<div class="col-md-10">
		{{#if myBid}} My: {{bid myBid}}{{/if}} Total: {{bid bank.total}}
		<h4>{{goal}}</h4>
	</div>
	<div class="col-md-12">
		{{#each supporters}}{{microProfileImage this}}{{/each}}
		{{#each observers}}{{microProfileImage this}}{{/each}}
	</div>
</div>

