<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<div>
			{{smallProfileImage player}}
		</div>
		<h4><label class="label label-success">{{formatDate startDate "%d/%m"}}</label></h4>
	</div>
	<div class="col-md-10">
		<h5>Created</h5>
		<h4>{{goal}}</h4>
		{{#if my}}
			My: {{bid myBid}}
		{{else}}
		{{/if}} Total: {{bid bank.total}}
	</div>
	{{#unless my}}
		<div class="col-md-12">
			<div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Observe">
				<span id="observe" class="fa fa-eye text-muted"> {{bid configuration.observerConfiguration.bid false}}</span>
			</div>
			<div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Supporter">
				<span id="support" class="fa fa-support text-muted"> {{bid configuration.supporterConfiguration.bid false}}</span>
			</div>
		</div>
	{{/unless}}
</div>

