<div class="container-fluid">
	{{#configuration}}
		<div class="col-md-4">
			<h4><small>Win / Bet</small><br/> {{money bet.interest}} / <small>{{money bet.amount}}</small></h4>
		</div>
		<div class="col-md-3 col-xs-6">
		<h4><small>Show to</small><br/> {{privacyRule privacyRule.name}}</h4>
		</div>
		<div class="col-md-3 col-xs-6">
		<h4><small>Update every</small><br/> {{timeoutRule moveTimeoutRule}}</h4>
		</div>
		<div class="col-md-3 col-xs-6">
			<h4><small>Share on</small><br/> {{#if shareRule.providers}}{{#each shareRule.providers}}<span class="{{socialIcon this}}"></span>{{/each}}{{else}}<span class="fa fa-ban"></span>{{/if}}</h4>
		</div>
	{{/configuration}}
	<input id="bet" type="range" min="{{basePrice}}" max="{{maxPrice}}"/>
	<div class="col-md-12">
	{{#each intervalRules}}
		<!--{{#is rule.type "rule:privacy"}}-->
			<!--<div class="col-md-2">-->
				<!--{{privacyRuleIcon rule.name}} <br/> <small>+ {{percentage}}% ({{interval}})</small>-->
			<!--</div>-->
		<!--{{/is}}-->
		{{#is rule.type "rule:timeout"}}
			<div class="col-md-2">
				{{timeoutRule rule}} <br/> <small>+ {{percentage}}% ({{interval}})</small>
			</div>
		{{/is}}
		{{#is rule.type "rule:share"}}
			<div class="col-md-2">
				<span class="fa fa-share-alt"/> <small>on</small> {{#each rule.providers}}<span class="{{socialIcon this}}"></span>{{/each}} <br/> <small>+ {{percentage}}% ({{interval}})</small>
			</div>
		{{/is}}
	{{/each}}
	</div>
</div>
