{{#configuration}}
	<h3>Bet {{bet.amount.amount}} Win {{bet.interest.amount}}</h3>
{{/configuration}}
	<div class="col-md-12">
		<div class="col-md-12">
			<div id="bet" class="slider slider-material-blue"></div>
			<br/>
			<br/>
		</div>
	</div>
{{#configuration}}
	<div class="col-md-3 col-xs-6">
		<h4><small><b>Friend's bet</b></small><br/> {{betRule.minBet}} <small><b>to</b></small> {{betRule.maxBet}}</h4>
	</div>
	<div class="col-md-3 col-xs-6">
	<h4><small><b>Update every</b></small><br/> {{ruleIcon moveTimeoutRule}} {{timeoutRule moveTimeoutRule}}</h4>
	</div>
	<div class="col-md-3 col-xs-6">
		<h4><small><b>Share on</b></small><br/> {{#if shareRule.providers}}{{#each shareRule.providers}}<span class="{{socialIcon this}}"></span>{{/each}}{{else}}<span class="fa fa-ban"></span>{{/if}}</h4>
	</div>
{{/configuration}}
