{{#configuration}}
	<h3>Bet {{bet.amount.amount}} Win {{bet.interest.amount}}</h3>
{{/configuration}}
	<div class="col-md-12">
		<div class="col-md-12">
			<div id="bet" class="slider slider-material-blue"></div>
			<br/>
		</div>
	</div>
{{#configuration}}
	<div class="col-md-3 col-xs-6">
	<h4><small>Show to</small><br/> {{privacyRule privacyRule.name}}</h4>
	</div>
	<div class="col-md-3 col-xs-6">
	<h4><small>Update</small><br/> {{timeoutRule moveTimeoutRule}}</h4>
	</div>
	<div class="col-md-3 col-xs-6">
		<h4><small>Share on</small><br/> {{#if shareRule.providers}}{{#each shareRule.providers}}<span class="{{socialIcon this}}"></span>{{/each}}{{else}}<span class="fa fa-ban"></span>{{/if}}</h4>
	</div>
{{/configuration}}
