<div class="hidden-xs hidden-sm">{{value}} {{ruleIcon rule}} <br/><small>{{totalPercentage}}%</small></div>
<div class="hidden-md hidden-lg">{{ruleIcon rule}} <br/><small>{{totalPercentage}}%</small></div>