<hr/>
<div class="container-fluid">
	<div class="col-md-12">
		<h4>{{goal}}</h4>
	</div>
	<div class="col-md-2">
		{{#each context.playerContexts}}
			<h4><span class="label label-success label-lg">{{formatDate clock.breachTime "%d/%m"}}</span></h4>
			<h4><span class="label label-warning">{{formatDate clock.deadline "%d/%m"}}</span></h4>
		{{/each}}
	</div>
	<div class="col-md-10">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="pull-left">
					{{bid bank.total}}
				</div>
				<div class="pull-right" data-toggle="tooltip" data-placement="top" title="Supporter">
					{{#if myBid}}
						<button class="btn btn-xs btn-info">My: {{bid myBid}}</button>
					{{/if}}
				</div>
			</div>

			<small>Status</small><br/>
			{{status}}<br/>
			<button id="update" class="btn btn-xs btn-success"><span class="fa fa-circle-thin"></span> Update</button>
			<button id="surrender" class="btn btn-xs btn-danger pull-right"><span class="fa fa-remove"></span> Give Up</button>
		</div>
	</div>
	{{template "supporters"}}
</div>
