<hr/>
<div class="col-md-12">
	<div class="col-md-4 col-xs-12">
		<h4>{{money myBet.interest}} <small>{{phase}}</small></h4>
	</div>
	<div class="hidden-xs hidde-sm">
	{{#each context.playerContexts}}
		<div class="col-md-4 col-xs-6">
			Update: <span class="label label-success label-lg">{{formatDate clock.breachTime "%d/%m %H:%M"}}</span>
		</div>
		<div class="col-md-4 col-xs-6">
			Deadline: <span class="label label-warning">{{formatDate clock.deadline "%d/%m %H:%M"}}</span>
		</div>
	{{/each}}
	</div>
	<div class="hidden-md hidden-lg">
	{{#each context.playerContexts}}
		<div class="col-xs-12">
			<span class="label label-success label-lg">{{formatDate clock.breachTime "%d/%m %H:%M"}}</span>
			<span class="label label-warning">{{formatDate clock.deadline "%d/%m %H:%M"}}</span>
			<br/>
			<br/>
		</div>
	{{/each}}
	</div>
</div>
<div class="col-md-12">
	<h4><span class="label label-xs label-material-blue">Goal</span> {{goal}}</h4>
	<span class="label label-xs label-material-cyan">Status</span> {{status}}<br/>
</div>
<div class="col-md-12 hidden-sm hidden-xs">
	<div class="btn-group-flat pull-right">
		<button id="update" class="btn btn-xs btn-material-blue-500"><span class="fa fa-circle-thin"></span> Update</button>
		<button class="btn btn-success" id="reached"><span class="fa fa-check-circle-o"></span> Score</button>
		<button id="surrender" class="btn btn-xs btn-danger"><span class="fa fa-remove"></span> Give Up</button>
	</div>
</div>
<div class="col-md-12 hidden-lg hidden-md">
	<div class="btn-group-flat ">
		<button id="update" class="btn btn-xs btn-material-blue-500"><span class="fa fa-circle-thin"></span></button>
		<button class="btn btn-success" id="reached"><span class="fa fa-check-circle-o"></span> </button>
		<button id="surrender" class="btn btn-xs btn-danger"><span class="fa fa-remove"></span></button>
	</div>
</div>
{{#if supporters}}
<div class="col-md-12">
	{{template "supporters"}}
</div>
{{/if}}
