<hr/>
<div class="container-fluid">
	<div class="col-md-12 row">
		<div class="col-md-4">
			Win/<small>Bank</small>: {{myBet.interest.amount}} / <small>{{bank.total.interest.amount}}</small>
		</div>
		{{#each context.playerContexts}}
			<div class="col-md-4">
				Update: <span class="label label-success label-lg">{{formatDate clock.breachTime "%d/%m %H:%M"}}</span>
			</div>
			<div class="col-md-4">
				Deadline: <span class="label label-warning">{{formatDate clock.deadline "%d/%m %H:%M"}}</span>
			</div>
		{{/each}}
	</div>
	<div class="col-md-12 row">
		<h4><span class="label label-xs label-material-blue">Goal</span> {{goal}}</h4>
	</div>
	<div class="col-md-12 row">
		<span class="label label-xs label-material-cyan">Status</span> {{status}}<br/>
		<div class="col-md-9">
			<button id="update" class="btn btn-xs btn-success"><span class="fa fa-circle-thin"></span> Update</button>
		</div>
		<div class="col-md-3">
			<button id="surrender" class="btn btn-xs btn-danger"><span class="fa fa-remove"></span> Give Up</button>
		</div>
	</div>
	{{#if supporters}}
	<div class="col-md-12 row">
		Supporters:
		{{template "supporters"}}
	</div>
	{{/if}}
</div>
