<hr/>
<div class="col-md-12">
	<div class="hidden-xs hidden-sm">
		<div class="col-md-7">
			<b>{{money myBet.interest}}</b> <small>{{phase}}</small>
		</div>
	{{#each context.playerContexts}}
		<div class="col-md-5">
			<span class="label label-warning pull-right">Deadline: {{formatDate clock.deadline "%d/%m"}}</span> <span class="label label-success label-lg pull-right">Update: {{formatDate clock.breachTime "%d/%m"}}</span>
		</div>
	{{/each}}
	</div>
	<div class="hidden-md hidden-lg">
		<div class="col-xs-4">
			<b>{{money myBet.interest}}</b>
		</div>
	{{#each context.playerContexts}}
		<div class="col-xs-8 pull-right">
			<span class="label label-warning pull-right">{{formatDate clock.deadline "%d/%m"}}</span>
			<span class="label label-success pull-right">{{formatDate clock.breachTime "%d/%m"}}</span>
		</div>
	{{/each}}
	</div>
</div>
<div class="col-md-12 col-xs-12">
	<div class="col-md-12">
		<h4><span class="fa fa-trophy"></span> {{goal}}</h4>
	</div>
</div>
<div class="col-md-12 col-xs-12">
	<div class="col-md-8 col-xs-12">
		<h4>{{status}}</h4>
	</div>
	<div class="col-md-4 hidden-xs hidden-sm">
		<button id="update" class="btn btn-material-blue-500"><span class="fa fa-circle-thin"></span> Update</button>
	</div>
</div>
<div class="col-md-12">
	<div class="hidden-xs hidden-sm">
		<div class="btn-group-flat">
			<button id="reached" class="btn btn-success"><span class="fa fa-check-circle-o"></span> I Won</button>
			<button id="surrender" class="btn btn-danger"><span class="fa fa-remove"></span> I Lost</button>
		</div>
	</div>
	<div class="hidden-md hidden-lg btn-group">
		<button id="update" class="btn btn-xs btn-material-blue-500"><span class="fa fa-circle-thin"></span></button>
		<button id="reached" class="btn btn-xs btn-success"><span class="fa fa-check-circle-o"></span></button>
		<button id="surrender" class="btn btn-xs btn-danger"><span class="fa fa-remove"></span></button>
	</div>
	{{#if supporters}}
	<div class="col-md-6">
		<b class="hidden-sm hidden-xs">Supporters</b><br/>
		{{template "supporters"}}
	</div>
	{{/if}}
</div>
