<div class="list-group-item list-group-item-success">
	<br/>
	<div class="col-xs-6">
		{{profileImageOfSize player 60}}<br/>
		{{#each context.playerContexts}}
			<span class="label label-success"><b>Update </b> {{formatDate clock.breachTime "%d/%m"}}</span>
			<span class="label label-success"><b>Ended</b> {{formatDate clock.deadline "%d/%m"}}</span>
		{{/each}}
	</div>
	<div class="col-xs-6">
		<span class="label">{{phase}}</span><br/>
		<b>My:</b> <span class="label label-success">{{myBet.interest.amount}}</span><br/>
		<b>Total:</b> <span class="label label-success">{{bank.total.interest.amount}}</span><br/>
		<b>Penalty:</b> <span class="label label-danger">{{bank.penalty.amount}}</span>
	</div>
	<div class="col-xs-12">
		<h4><span class="fa fa-trophy"></span> {{goal}}</h4>
		<p class="list-group-item-text">
			{{status}}
		</p>
		{{#if supporters}}
			{{template "supporters"}}
		{{/if}}
	</div>
	<div class="hidden-md hidden-lg btn-group row">
		<button id="update" class="btn btn-xs btn-material-blue-500">Update</button>
		<button id="reached" class="btn btn-xs btn-success"><span class="fa fa-check-circle-o"></span></button>
		<button id="surrender" class="btn btn-xs btn-danger"><span class="fa fa-remove"></span></button>
	</div>
	<div class="row">
		<br/>
	</div>
</div>
