<h2 class="plan-title">{{configurationKey}}</h2>
	<p class="plan-price">{{money bid.amount}}<span>/{{money bid.interest}}</span></p>

	<strong>Duration:</strong> {{totalTimeRule totalTimeRule}}<br/>
	<strong>Status Update:</strong> {{moveTimeRule moveTimeRule}}<br/>
	<strong>Privacy:</strong> {{privacyRule privacyRule}}<br/>
	<strong>Bet:</strong> {{betRule betRule}}
