<h2 class="plan-title">{{configurationKey}}</h2>
	<h2>{{money bid.amount}}/<small>{{money bid.interest}}</small></h2>

	<strong>Duration:</strong> {{totalTimeRule totalTimeRule}}<br/>
	<strong>Status Update:</strong> {{moveTimeRule moveTimeRule}}<br/>
	<strong>Privacy:</strong> {{privacyRule privacyRule}}<br/>
	<strong>Bet:</strong> {{betRule betRule}}<br/>
	{{#each roleConfigurations}}
		<h4>{{role}}</h4>
		<h5>Reminders</h5>
		<span class="fa fa-send-o fa-2x"></span> <span class="fa fa-phone-square fa-2x"></span>
	{{/each}}
