<h2 class="plan-title">
	{{name}}
</h2>
<h6>Win / Bet</h6>
<h4>{{money bet.interest}} / {{money bet.amount}}</h4>
<h6>Duration / Update</h6>
{{timeoutRule totalTimeoutRule}} / {{timeoutRule moveTimeoutRule}}<br/>
<h6>Reminder email/phone</h6>
{{showReminders this}}
<hr/>
{{#supporterConfiguration}}
	<h4>Supporter</h4>
	<h4>{{money bet.interest}} / {{money bet.amount}}</h4>
	{{showReminders this}}
{{/supporterConfiguration}}
