<h2 class="plan-title">
	{{name}}
</h2>
<h6>Win / Bet</h6>
<h4>{{money bid.interest}} / {{money bid.amount}}</h4>
<h6>Duration / Update</h6>
{{totalTimeRule totalTimeRule}} / {{moveTimeRule moveTimeRule}}<br/>
<h6>Reminder email/phone</h6>
{{showReminders this}}
<hr/>
{{#supporterConfiguration}}
	<h4>Supporter</h4>
	<h4>{{money bid.interest}} / {{money bid.amount}}</h4>
	<h6>Reminders email/phone</h6>
	{{showReminders this}}
{{/supporterConfiguration}}
<hr/>
{{#observerConfiguration}}
	<h4>Observer</h4>
	<h4>{{money bid.interest}} / {{money bid.amount}}</h4>
	<h6>Reminders email/phone</h6>
	{{showReminders this}}
{{/observerConfiguration}}
