<hr/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			{{smallProfileImage playerBid.player}}
			<h4><label class="label label-warning">Bid</label></h4>
		</div>
		<div class="col-md-2">
			{{smallProfileImage player}}
			<h4><label class="label label-success">{{formatDate startDate "%d/%m"}}</label></h4>
		</div>
		<div class="col-md-7">
			<h5>Bid</h5>
			<h4><small>{{formatDate deadline "%d/%m"}}</small> {{goal}}</h4>
			{{bid playerBid.bid}} Total: {{bid bank.total}}
		</div>
	</div>
</div>

