<div class="row-picture">
	{{#is source.type "payment:bonus:social:discovery"}}
		{{smallProfileImage source.discovered}}
	{{else}}{{#is source.type "payment:bonus:social:add"}}
		<i class="{{socialIcon source.provider}} fa-3x"></i>
	{{else}}{{#is source.type "payment:bonus:email:verified"}}
		<i class="{{socialIcon "email"}} fa-3x"></i>
	{{else}}{{#is source.type "payment:bonus:phone:verified"}}
		<i class="{{socialIcon "phone"}} fa-3x"/>
	{{else}}{{#is source.type "payment:bonus:goal:reached"}}
		<i class="fa fa-3x fa-bolt"/>
	{{else}}
		<i class="fa fa-3x fa-bitcoin"/>
	{{/is}}
	{{/is}}
	{{/is}}
	{{/is}}
	{{/is}}
</div>
<div class="row-content">
	<i id="delete" class="fa fa-2x fa-times-circle-o pull-right"></i>
	<h4>{{#is operation "Credit"}}<span class="label label-danger">-{{amount.amount}}</span>{{else}}<span class="label label-success">+{{amount.amount}}</span>{{/is}}</h4>
	{{#is source.type "payment:bonus:registration"}}registration{{/is}}
	{{#is source.type "payment:bonus:daily"}}daily{{/is}}
	{{#is source.type "payment:bonus:social:add"}}added{{/is}}
	{{#is source.type "payment:bonus:social:discovery"}} joined{{/is}}
	{{#is source.type "payment:bonus:email:verified"}}em@il verified{{/is}}
	{{#is source.type "payment:bonus:phone:verified"}}phone verified{{/is}}
	{{#is source.type "payment:goal"}}{{outcome source.outcome}} goal{{/is}}
	{{#is source.type "payment:game"}}{{outcome source.outcome}} game{{/is}}
</div>