<hr/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div>
				{{smallProfileImage player}}
			</div>
			{{#each context.playerContexts}}
				<label class="label label-success"><b data-countdown="{{clock.breachTime}}"></b></label><br/>
			{{/each}}
		</div>
		<div class="col-md-10">
			<h4>{{goal}}</h4>
			<h5>{{status}}</h5>
			{{total}}
			My: {{bid my}} Total: {{bid bank.total}}
		</div>
	</div>
</div>
