<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div>
				{{smallProfileImage player}}
			</div>
			<div>
				{{#each context.playerContexts}}
					<div data-countdown="{{clock.breachTime}}"></div>
				{{/each}}
				{{bid bank.total}}
			</div>
		</div>
		<div class="col-md-9">
			<h4>
				<small>
				</small>{{goal}}</h4>
			{{#if status}}<h4 class="info">{{status}}</h4>{{/if}}
			{{total}}
			{{#if my}}
				Interest {{bid my}}
			{{/if}}
		</div>
	</div>
</div>
