<hr/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div>
				{{smallProfileImage player}}
			</div>
			<label class="label label-success"><b data-countdown="{{startDate}}"></b></label>
		</div>
		<div class="col-md-10">
			<h4><small>{{formatDate startDate "%d/%m"}}</small> {{goal}}</h4>
			{{#if my}}
				My: {{bid my}}
			{{else}}
				<button id="bet" class="btn btn-info btn-sm"><span class="fa fa-credit-card"></span> Bet</button>
			{{/if}} Total: {{bid bank.total}}
		</div>
	</div>
</div>

