<div class="container-fluid">
	<div class="col-md-3">
		<div>
			{{smallProfileImage player}}
		</div>
		<div>
			<span class="fa fa-credit-card"></span> {{money configuration.bid.amount}}/<small>{{money configuration.bid.interest}}</small>
		</div>
	</div>
	<div class="col-md-9">
		<h4><small>{{formatDate startDate "%d/%m"}}</small> {{goal}}</h4>
		<button id="bet" class="btn btn-circle btn-info" {{#if myBet}}disabled{{/if}}><span class="fa fa-credit-card"></span></button>
	</div>
</div>
