<div class="col-md-12 thumbnail">

<h4>Bid Rule</h4>
{{#each bid}}
	{{money this}}
{{/each}}
<h4>Deadline Rule</h4>
{{#each totalTimeoutRule}}
	{{timeoutRule rule}} / <small>{{percentage}}%</small>
{{/each}}
<h4>Update Rule</h4>
{{#each moveTimeoutRule}}
	{{timeoutRule rule}} / <small>{{percentage}}%</small>
{{/each}}
<h4>Email Reminder Rule</h4>
{{#each emailReminderRule}}
	<span class="fa {{socialIcon "email"}}"/> {{reminderRule rule}} / <small>{{percentage}}%</small>
{{/each}}
<h4>Phone Reminder Rule</h4>
{{#each phoneReminderRule}}
	<span class="fa {{socialIcon "phone"}}"/> {{reminderRule rule}} / <small>{{percentage}}%</small>
{{/each}}
<h4>Supporter Rule</h4>
{{#each supporterConfiguration}} {{bid rule.bid}}
	<span class="fa {{socialIcon "email"}}"/> {{reminderRule rule.emailReminderRule}} <span class="fa {{socialIcon "phone"}}"/> {{reminderRule rule.phoneReminderRule}} / <small>{{percentage}}%</small>
{{/each}}
<h4>Privacy Rule</h4>
{{#each privacyRule}}
	{{privacyRule rule.name}} / <small>{{percentage}}%</small>
{{/each}}
<h4>Share Rule</h4>
{{#each shareRule}}
	<span class="fa-2x {{socialIcon rule.name}}"></span> / <small>{{percentage}}%</small>
{{/each}}
</div>
