<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<div>
			{{smallProfileImage player}}
		</div>
	</div>
	<div class="col-md-10">
		<b>{{timeoutRule configuration.totalTimeoutRule}}</b> {{bet configuration.bid}}<br/>
		<h5>{{goal}}</h5>
	</div>
	<div class="col-md-12 row">
		<h4>{{state}}</h4>
	</div>
</div>
