<div class="modal-body">
	<div class="container-fluid">
		<div class="col-md-2">
			{{smallProfileImage player}}
		</div>
		<div class="col-md-10">
			<h3>{{goal}}</h3>
		</div>
		<div class="col-md-12">
			{{#configuration.supporterConfiguration}}
				<h3>Win: {{money bid.interest}}</h3>
				<h4>Bet: {{money bid.amount}}</h4>
			{{/configuration.supporterConfiguration}}

			<h4>Reminders:</h4>
			<h4>{{showReminders configuration.supporterConfiguration}}</h4>
		</div>
		<div class="pull-right">
			<button class="btn btn-default" id="cancel">Cancel</button>
			<button class="btn btn-primary" id="go">Go <span class="fa fa-play"/></button>
		</div>
	</div>
</div>
