<div class="col-md-12">
	<div class="pull-left">
		{{bet bank.total}}
	</div>
	<div class="pull-right">
	{{#if betsAllowed}}
		{{#if myBet}}
			<button class="btn btn-xs btn-success">My: {{bet myBet}}</button>
		{{else}}
			<button id="support" class="btn btn-xs btn-primary">Bet: {{bet configuration.supporterConfiguration.bet}}</button>
		{{/if}}
	{{else}}
		{{#if myBet}}
			<button class="btn btn-xs btn-success">My: {{bet myBet}}</button>
		{{/if}}
	{{/if}}
	</div>
</div>
